@import "custom";
@import "~bootstrap/scss/bootstrap";

$black: #000000ff;
$oxford-blue: #14213dff;
$orange-web: #fca311ff;
$platinum: #e5e5e5ff;
$white: #ffffffff;

body{
    padding-top: 5.5rem;
}
.container {
    background-color: $white
}
.introducton{

}
.page-nav{
    a{
        &:hover {
            text-decoration-line: underline;
            color: $black;
        }
        &:visited{
            color: $black;
        }
        font-weight: bold;
        color:  $black;
    }
}